<h1 id="new">Enter Your Medication Information Below</h1>


<%= form_for @medicine do |f| %>
	
	<div id="name">
	<%= f.label :name %><br />
	<%= f.text_field :name, placeholder: "Medicine Name" %><br /><br />
	</div>

	<div id="dose">
	<%= f.label :dosage %><br />
	<%= f.text_field :dosage, placeholder: "Enter Dosage" %><br /><br />
	</div>

	<div id="time">
	<%= f.label :reminder_time %><br />
    <%= f.time_select :reminder_time, {ampm: true, minute_step: 15} %><br /><br />
	</div>

	<div id="number">
	<%= f.label :telephone_number %><br />
	<%= telephone_field :telephone_number, placeholder: "Telephone Number" %><br /><br /></div>

	<%= f.hidden_field :user_id, :value => 1 %>

	<div id="enter">
	<%= f.submit "Enter Medicine" %>
	<a href="/profile"><%= f.submit "Click When done", id: "done" %></a>
	</div>
	<% end %>





