<h1>Welcome <%= current_user.First_name %></h1>



	<% current_user.medicines.each do |medicine| %>
			<table>
				<tr>
			<td><%= medicine.name %></td>
			<td><%= medicine.reminder_time ? medicine.reminder_time.strftime("at %I:%M%p") : "No time set" %></td>
			<td><%= medicine.dosage %></td>
			<td><%= link_to 'delete reminder', medicine_path(medicine), method: :delete %></td>
			<td><%= link_to 'edit reminder', edit_medicine_path(medicine) %></td>

			</tr>
			</table>
	<% end %>


