<h1 id="pro">Welcome <%= current_user.First_name %></h1>

<%= render '/medicines/reminder' %>
		<table>			
			<thead>
				<tr>
					<th>Medication</th>
					<th>Time</th>
					<th>Dose</th>
					<th></th>
				</tr>
			</thead>
	<% current_user.medicines.each do |medicine| %>
				<tr>
					<td width="40%"><%= medicine.name %></td>
					<td width="30%"><%= medicine.dosage %></td>
					<td><%= medicine.reminder_time ? medicine.reminder_time.strftime("%I:%M%p") : "No time set" %></td>
					<td><%= link_to 'edit', edit_medicine_path(medicine) %> 
						<%= link_to 'delete', medicine_path(medicine), method: :delete %></td>
				</tr>
	<% end %>
	</table>



			