<!DOCTYPE html>
<html>
<head>
  <title>Medsmessenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= link_to 'sign in', new_user_session_path %> | <%= link_to 'sign out', destroy_user_session_path %>
	<div>
		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>
	</div>


<%= yield %>

</body>
</html>
